<div class="container">
	<h3>Create a user:</h3>
	<form action="/signup" method="post">
	<label>Username:</label>
	<input type="text" name="username">
	<label>Password:</label>
	<input type="text" name="password">
	<button>Submit</button>
	</form>	
</div>